extends ../layout

block content

    .container.paddingScrollTop
        
        .row
            // Blog Entries Column
            .col-md-8
                h1.page-header.text-center
                    | CSS Selector Reference
                p
                    | In CSS, selectors are patterns used to select the element(s) you want to style.
                p Frist link is explanation
                    a(href='https://www.w3schools.com/cssref/css_selectors.asp' target='_blank')  here 
                    i.fa.fa-external-link(aria-hidden='true')
                    
                p
                    | element, element
                p
                    | element element
                p
                    | element > element
                
                p 
                    | What seletors win out in the cascade depends on:
                    p -Specificity
                    p -Importance
                    p -Source Order

                h1 
                    | CSS element, element
                p Selects all "div" elements and all "p" elements 
                    p.codepen(data-height='265', data-theme-id='0', data-slug-hash='bKwdpx', data-default-tab='html,result', data-user='arduino731', data-embed-version='2', data-pen-title='CSS element,element Selector')
                    script(async='', src='https://static.codepen.io/assets/embed/ei.js')
                h1 
                    | CSS element element
                p Select and style every "p" element that is inside "div" elements: 
                    p.codepen(data-height='265', data-theme-id='0', data-slug-hash='PaGqja', data-default-tab='html,result', data-user='arduino731', data-embed-version='2', data-pen-title='CSS element>element Selector')
                    script(async='', src='https://static.codepen.io/assets/embed/ei.js')
                h1 
                    | CSS element > element
                p Selects all "p" elements where the parent is a "div" element
                    p.codepen(data-height='265', data-theme-id='0', data-slug-hash='XYjbJr', data-default-tab='html,result', data-user='arduino731', data-embed-version='2', data-pen-title='CSS element>element Selector')
                    script(async='', src='https://static.codepen.io/assets/embed/ei.js')



                

            include ../include/blogSidebar.pug
            #disqus_thread
                script.
                    var disqus_config=function(){
                    this.page.url="http://van-vlymen.com/blogs/startedrwd", // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier="3"}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    !function(){var e=document,t=e.createElement("script");
                    t.src="//vanvlymenblogs.disqus.com/embed.js",t.setAttribute("data-timestamp",+new Date),
                    (e.head||e.body).appendChild(t)}();
                script#dsq-count-scr(src='//vanvlymenblogs.disqus.com/count.js', async='')