extends ../layout

block content

		.container.paddingScrollTop
			.row
				.col-md-8
					h1.pageheader.text-center
						| Building a Random Quote Machine [Project]
					p
						| So after I finished with the 
						a(href="http://codepen.io/arduino731/full/wGgLGK" target="_blank") first attempt
						| at building a Random Quote Generator on Free Code Camp. It was ugly, and the quotes were too long so I didn't bother to implement the "tweet" functionality. It just didn't make any sense to do that.
					p
						| So after I finished with the 
						a(href="http://codepen.io/arduino731/full/LNYqrQ" target="_blank") Simon 6 buttons Project
						| , I felt a strong desire to revisit that project and start over with a different approach. 
					p
						| I wanted a more interesing design with a  few animations and I had this idea of putting the quotes into
						different categories so that users can view quotes from their favourite categories.
					p My exams were over so I had enough time on my hands to finish it off.

				include ../include/blogSidebar.pug
				h2.text-center Logic
				p coming soon
				#disqus_thread
					script.
						var disqus_config=function(){
						this.page.url="https://van-vlymen.com/blogs/quoteMachine", // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier="2"}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						!function(){var e=document,t=e.createElement("script");
						t.src="//vanvlymenblogs.disqus.com/embed.js",t.setAttribute("data-timestamp",+new Date),
						(e.head||e.body).appendChild(t)}();
					script#dsq-count-scr(src='//vanvlymenblogs.disqus.com/count.js', async='')
